
# data directory
data

# pickled result files
*.pkl

# path variables
scripts/paths.py

# logfiles from e.g. slurm jobs
scripts/logs

# macOS system files
.DS_Store

# Python packaging files
*.egg-info

# pycache
__pycache__
