# dotenv file
.env

# log files from e.g. slurm jobs
logs

# data/result files
data
*.csv
*.png

# binary result files
*.pkl
*.mat

# old/testing code
old

# tools
toolbox

# link to scratch folder
scratch

# macOS system files
.DS_Store

# Python packaging files
*.egg-info

# pycache
__pycache__

# IDE files
.vscode
