
# data/result files
data
*.csv
*.png

# binary result files
*.pkl
*.mat

# for path variables
scripts/paths.py
scripts/generate_paths.m

# old/testing code
scripts/old/*

# tools
toolbox

# logfiles from e.g. slurm jobs
scripts/logs

# link to scratch folder
scratch

# MATLAB temporary files
*.asv

# macOS system files
.DS_Store

# Python packaging files
*.egg-info

# pycache
__pycache__

# IDE files
.vscode
